
.myntra-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}


body {
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}


.toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.toggle-button:hover {
  background-color: #0056b3;
}


.sidebar {
  width: 100%;
  max-width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo img {
  width: 53px;
  height: 38px;
  margin-top: 2vh;
}


.chat-generator {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}


.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.images img {
  width: 15%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.menu-item, .menu-item1, .menu-item2 {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  color: black;
}


.chat-section {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
  color: black;
  height: 100vh;
}


.chat-history {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #9999a0;
  border-radius: 5px;
  background-color: #e2e2ea;
}


.chats {
  flex: 1;
  overflow-y: auto;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.add-chat {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}


.new-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff50;
  padding: 20px;
  border-radius: 5px;
}


.chat-inputs {
  display: flex;
  background-color: #ccc;
  border-radius: 15px;
  align-items: center;
  width: 100%;
}

.chat-inputs input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.chat-inputs button {
  padding: 10px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


.logo {
  color: black;
  margin-bottom: 5vh;
  font-size: 4.2vh;
  font-weight: bold;
  border: none;
  border: 1px solid #ccc;
}


.myntra {
  background-color: #f0f0f0;
  width: 100%;
}


.box {
  background-color: #f0f0f0;
  margin-top: 6.3vh;
  border-radius: 20px;
}

.chatb {
  color: black;
  margin-left: 20px;
}


.box3 {
  width: 100%;
  align-items: center;
  margin-top: 3.3vh;
  border-radius: 20px;
  background-image: url("./assets/rec.png");
}


.b1, .b2, .b3, .b4, .b5 {
  padding: 10px;
  height: 35px;
  border-radius: 10px;
  background-color: grey;
  margin-top: 3vh;
}

.b1 {
  width: 50vh;
  background-color: #EEE3E9;
}

.b2 {
  width: 50vh;
  margin-left: 55vh;
}

.b3 {
  width: 45vh;
  margin-left: 60vh;
}

.b4 {
  width: 20vh;
  margin-left: 85vh;
}

.b5 {
  width: 8vh;
  margin-left: 95vh;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 25%;
  }
  .chat-section {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
  .chat-section {
    width: 100%;
  }
  .box3 {
    width: 100%;
  }
  .b2, .b3, .b4, .b5 {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .menu-item, .menu-item1, .menu-item2 {
    margin-left: 2vh;
  }
  .b1 {
    width: 80%;
  }
  .b2, .b3, .b4, .b5 {
    width: 90%;
  }
}
